body {
    background: purple;

}
#mario-header {
    font-family:cursive;
    color: rgb(11, 186, 255);
    font-size: 50px;
}

h1{
    background-color: aqua;
}

.body {
    background-color: violet;
}

#body{
    background-color: green;
}

#call{
     color: yellow;
}

#programming {
    color: brown;
}

#html {
    color:green;

}

#alcoholic {
font-family: fantasy;
}

#ibiza {

    color: orange;
}

footer {
    background-color: blue;
}